In [ ]:
import pandas as pd

In [4]:
df = pd.read_csv('cars.csv')

In [6]:
print(df.head(15))

   Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin
0   STRING;DOUBLE;INT;DOUBLE;DOUBLE;DOUBLE;DOUBLE;...
1   Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3...
2   Buick Skylark 320;15.0;8;350.0;165.0;3693.;11....
3   Plymouth Satellite;18.0;8;318.0;150.0;3436.;11...
4   AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US
5     Ford Torino;17.0;8;302.0;140.0;3449.;10.5;70;US
6   Ford Galaxie 500;15.0;8;429.0;198.0;4341.;10.0...
7   Chevrolet Impala;14.0;8;454.0;220.0;4354.;9.0;...
8   Plymouth Fury iii;14.0;8;440.0;215.0;4312.;8.5...
9   Pontiac Catalina;14.0;8;455.0;225.0;4425.;10.0...
10  AMC Ambassador DPL;15.0;8;390.0;190.0;3850.;8....
11  Citroen DS-21 Pallas;0;4;133.0;115.0;3090.;17....
12  Chevrolet Chevelle Concours (sw);0;8;350.0;165...
13  Ford Torino (sw);0;8;351.0;153.0;4034.;11.0;70;US
14  Plymouth Satellite (sw);0;8;383.0;175.0;4166.;...